{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>All Contacts</h2>
    <ul class="contacts-list">
        {% for contact in all_contacts %}
        <li>
            {{ contact.name }} - {{ contact.phone_number }}
            <a href="{% url 'contact_detail' contact.pk %}" class="btn view-btn" style="text-decoration:none; color:black;">
                <i class="fas fa-eye"></i> View
            </a>
        </li>
        {% empty %}
        <li>No contacts available.</li>
        {% endfor %}
    </ul>

    <h2>My Contacts</h2>
    <ul class="contacts-list">
        {% for contact in my_contacts %}
        <li>
            {{ contact.name }} - {{ contact.phone_number }}
            <a href="{% url 'contact_detail' contact.pk %}" class="btn view-btn" style="text-decoration:none; color:black;">
                <i class="fas fa-eye"></i> View
            </a>
            <a href="{% url 'edit_contact' contact.pk %}" class="btn edit-btn">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'delete_contact' contact.pk %}" class="btn delete-btn">
                <i class="fas fa-trash"></i> Delete
            </a>
        </li>
        {% empty %}
        <li>You have no contacts.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_contact' %}" class="btn add-btn">
        <i class="fas fa-plus"></i> Add New Contact
    </a>
</div>
{% endblock %}
